.delete-button {
    background-color: green;
    color: white;
}

.save-button {
    background-color: aquamarine;
}

.button {
    width: 50px;
    min-width: max-content;
    text-align: center;
    padding: 5px;
}

.button:hover {
    cursor: pointer;
}

.delete-button:hover {
    background-color: yellowgreen;
}

.save-button:hover {
    background-color: #61dafb;
}

.item-container {
    display: flex;
    border-bottom: 1px solid black;
    width: max-content;
}

.item-container:hover {
    background-color: bisque;
}

.item-name {
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.input-error {
    color: red;
    margin: 5px;
    width: 300px;
    text-align: center;
}

.header {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.employeers-container,
.input-container {
    margin-bottom: 10px;
}

.input-container {
    margin-top: 5px;
}

.main-container {
    margin-left: 15px;
}